<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Real-time Requests Monitoring</h5>
        <p class="card-category">
          Refreshed every 15 seconds.</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <div class="card card-plain">
              <div class="card-body" *ngFor="let d of iotRequests;let i = index" >
                <div class="alert {{d.label == 'Benign' ? 'alert-info': 'alert-danger'}} alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove" (click)="iotRequests.splice(i, 1)"></i>
                  </button>
                  <span> <b>{{d.text}}</b>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
